__pycache__/
*.py[co]
.DS_Store
*.log
.idea/
.vscode/
exp/
pretrain/
project/app_ours_annotation/uploads/
project/app_ours_annotation/masks/
project/app_ours_annotation/annotated_masks_ours/
project/app_ours_annotation/annotated_captions_ours/
project/app_ours_annotation/gt_mask/
project/app_ours_annotation/others/
project/app_ours_annotation/logs/
project/app_ours_annotation/dump.rdb
project/app_ours_annotation/id.txt
